In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

**Maximum Likelihood**

In [37]:
bad_model = 0.6 * 0.2 * 0.1 * 0.7 
bad_model

0.0084

In [38]:
good_model = 0.7 * 0.9 * 0.8 * 0.6
good_model

0.3024

**Scaling Probabilty**

Scaling Probabilty by normalization range  (0 to 1) , using **log e** in **numpy.log()**

> log ab = log a + log b

> ln(0.6) + ln(0.2) + ln(0.1) + ln(0.7)  =   ln( 0.6 * 0.2 * 0.1 * 0.7 ) = -ve result

Sums of negative logarithms of the probabilities , is **cross entropy**


> -ln(0.6) - ln(0.2) -ln(0.1) -ln(0.7)

In [39]:
# High Entropy
-np.log(bad_model)

4.779523573132869

In [40]:
# Low Entropy
-np.log(good_model)

1.1960046346767592

Good model has low entropy(negative logarithm of large no. is a small no.) . Good model yields high probability . Correctly classified will have small errors .

**Case 1:**

In [35]:
door_prob = [
    [0.8, 0.7, 0.1],
    [0.8, 0.7, 0.9],
    [0.8, 0.3, 0.1],
    [0.2, 0.7, 0.1],
    [0.8, 0.3, 0.9],
    [0.2, 0.7, 0.9],
    [0.2, 0.3, 0.1],
    [0.2, 0.3, 0.9]
]

df_prob = pd.DataFrame(door_prob,columns=['door1','door2','door3'])
df_prob.head()

   door1  door2  door3
0    0.8    0.7    0.1
1    0.8    0.7    0.9
2    0.8    0.3    0.1
3    0.2    0.7    0.1
4    0.8    0.3    0.9

7 combination of scenarios for possiblity of door with gift / no gift

In [36]:
df_prob['probability'] = df_prob.apply(lambda x: x['door1'] * x['door2'] * x['door3'], axis=1)
df_prob.head()

   door1  door2  door3  probability
0    0.8    0.7    0.1        0.056
1    0.8    0.7    0.9        0.504
2    0.8    0.3    0.1        0.024
3    0.2    0.7    0.1        0.014
4    0.8    0.3    0.9        0.216

In [48]:
df_prob['entropy'] = df_prob['probability'].apply(lambda x: -np.log(x))
df_prob.head()

   door1  door2  door3  probability   entropy
0    0.8    0.7    0.1        0.056  2.882404
1    0.8    0.7    0.9        0.504  0.685179
2    0.8    0.3    0.1        0.024  3.729701
3    0.2    0.7    0.1        0.014  4.268698
4    0.8    0.3    0.9        0.216  1.532477

In [49]:
df_prob

   door1  door2  door3  probability   entropy
0    0.8    0.7    0.1        0.056  2.882404
1    0.8    0.7    0.9        0.504  0.685179
2    0.8    0.3    0.1        0.024  3.729701
3    0.2    0.7    0.1        0.014  4.268698
4    0.8    0.3    0.9        0.216  1.532477
5    0.2    0.7    0.9        0.126  2.071473
6    0.2    0.3    0.1        0.006  5.115996
7    0.2    0.3    0.9        0.054  2.918771

scenario index 1 , has high probability and low entropy

In [65]:
df_prob.iloc[1,:]

door1          0.800000
door2          0.700000
door3          0.900000
probability    0.504000
entropy        0.685179
Name: 1, dtype: float64

**Single Cross Entropy Formula**



-$\sum_{i=1}^{m} y_i$*ln*($p_i$) + (1 - $y_i$)*ln*(1-$p_i$)

> $y_i$ = $\Big\{$ $\binom{ 1 if present }{ 0 if absent }$

$$
\sigma(s,i) = \left\{
    \begin{array}{ll}
        \tau_{si} & \mbox{si } \{s,i\} \in E \\
        \infty & \mbox{sinon.}
    \end{array}
\right.
$$

In [113]:
def cross_entropy(Y,P):
    n_1 = (1 - np.array(Y)) * (np.log(1 - np.array(P)))
    n = np.array(Y) * np.log(P)
    return -np.sum([n,n_1])

In [115]:
cross_entropy([1,1,0],[0.8,0.7,0.1])

0.6851790109107685

**Multi-Class Cross Entropy**


-$\sum_{i=1}^{n}$ $\sum_{j=1}^{m}$ $y_{ij}$ *ln*($p_{ij}$)

$$
y_i = \left\{
    \begin{array}{lll}
        y_{ij} = 1 & duck in J \\
        \infty & \mbox{sinon.} \\
        \infty & \mbox{sinon.}
    \end{array}
\right.
$$

In [119]:
animal = [
    ['duck',0.7,0.3,0.1],
    ['beaver',0.2,0.4,0.5],
    ['walrus',0.1,0.3,0.4]
]

In [122]:
animal_df = pd.DataFrame(
    animal, columns = ['animal','door1','door2','door3']
)
animal_df

   animal  door1  door2  door3
0    duck    0.7    0.3    0.1
1  beaver    0.2    0.4    0.5
2  walrus    0.1    0.3    0.4

$\hat{a}$

cross-entropy is inversely proportional to the total probability of an outcome.